Package: smeg
Version: 0.5-0ubuntu1
Section: utils
Priority: optional
Architecture: all
Depends: python (>= 2.4), python2.4-gtk2 (>= 2.5.4), python-xdg (>= 0.9)
Installed-Size: 120
Maintainer: Travis Watkins <alleykat@gmail.com>
Description: simple menu editor for GNOME
 A simple menu editor for GNOME 2.10 that can edit and add new entries and
 menus. It implements the freedesktop.org menu spec but may or may not work
 with other Desktop Environments.
